nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-image: linear-gradient(to top, #15315b, #4b3c7b, #88408c, #c63e8d, #fc427b);
    color: white;
    
  }

nav a{
  text-decoration: none;
  color: white;
}
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
   width: 100%;
  }

.logout button{
    border-color: #ae142a;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
    display: block;
    width: 30%;
    margin-left: 40%;
    margin-right: 40%;
    
    color: #fff;
    background-color: #FFC107;
    
    height: 10px;
    
    
    font-size: 16px;
}
